    <nav class="ui vertical pointing menu">
  <a class="item" id="homepage" href="/">
        <div class="ui card">
      HOMEPAGE
    </div>
  </a>
  <a class="item" id="about" href="/about">
        <div class="ui card">
      ABOUT
    </div>
  </a>
    <a class="item" id="about" href="/products">
        <div class="ui card">
      PRODUCTS ETC.
    </div>
  </a>
</nav>
<script>
 document.querySelector("#{{id}}").classList.add("active");
</script>

