<html lang="en">
  <head>
    <meta charset="utf-8" />
     <meta name="keywords" content="cava, stylidas, kostas, koutras, nikolaos, koutos, anastasia, karakosta, κάβα, Στυλίδας, Κώστας, Κούτρας, Νικόλαος, Κούτος, Αναστασία, Καρακώστα">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google-site-verification" content="L4OGz_Wj4RoFiEujYOQ4_QIdss54IXNJPQ36jUNdbW4" />
    <title>CAVA STYLIDAS</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.3/semantic.min.css">
     <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
  />
    <link rel="stylesheet" href="/styles.css">   
  </head>
  <body>
    <section>
      {{{body}}}
    </section>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.3/semantic.min.js"></script>
    <script src="/script.js"></script>
  </body>
</html>
