

<section class="ui center aligned middle aligned segment">
    <h1>About</h1>
</section>
<div id="index_layout">
{{> menu }}
<div class="ui container about inner">

    <div class="ui vertical segment">
    <p>Ιστορική Αναδρομή της Εταιρείας "Κάβα Στυλίδας"

Η επιχείρηση "Κάβα Στυλίδας" ιδρύθηκε το έτος 1964 από τη Γεωργία Καρακώστα, μια πρωτοπόρο επιχειρηματία με διορατικότητα και ισχυρό αίσθημα ευθύνης απέναντι στην τοπική κοινωνία και την επιχειρηματική ηθική. Η αρχική έδρα της εταιρείας τοποθετήθηκε επί της οδού Φαλάρων, στην πόλη της Στυλίδας, απ’ όπου ξεκίνησε να διαμορφώνει την ταυτότητά της στον χώρο της εμπορίας ποτών και οινοπνευματωδών προϊόντων, στηριζόμενη στην ποιότητα, τη συνέπεια και την προσωπική επαφή με τον πελάτη.

Το έτος 1986, τη διοίκηση της επιχείρησης ανέλαβαν η κόρη της ιδρύτριας, Αναστασία Καρακώστα, σε συνεργασία με τον Νικόλαο Κοντό. Με σταθερό προσανατολισμό στις αρχές που θεμελίωσε η πρώτη γενιά, και με φρέσκια επιχειρηματική οπτική, κατάφεραν να ενισχύσουν περαιτέρω τη δυναμική της εταιρείας και να διευρύνουν το πελατολόγιο και το φάσμα των συνεργασιών της.

Ένα ακόμη ορόσημο στην πορεία της εταιρείας σημειώθηκε το 2006, όταν η "Κάβα Στυλίδας" προχώρησε σε μεταφορά των δραστηριοτήτων της σε νέες, ιδιόκτητες και σύγχρονες εγκαταστάσεις, οι οποίες βρίσκονται επί της Παλαιάς Εθνικής Οδού Στυλίδας–Λαμίας, στο 1ο χιλιόμετρο. Η νέα αυτή τοποθεσία, με μεγαλύτερη λειτουργική έκταση και αναβαθμισμένες υποδομές, αντανακλά τη συνεχή ανάπτυξη της επιχείρησης και την προσήλωσή της στην ποιοτική εξυπηρέτηση και την τεχνολογική προσαρμογή.

Η "Κάβα Στυλίδας", με μακρόχρονη εμπειρία, διαρκή εξέλιξη και σταθερές αξίες, συνεχίζει να αποτελεί έναν αξιόπιστο πυλώνα στον χώρο των ποτών, υπηρετώντας με συνέπεια την παράδοση αλλά και τις απαιτήσεις της σύγχρονης αγοράς.</p>
    </div>
<div class="swiper mySwiper">
<div class="swiper-wrapper">
  {{#each imagePaths}}
  <div class="swiper-slide">
    <img src="{{this}}" alt="Image" height="465" width="350"/>
  </div>
  {{/each}}
</div>


  <!-- Navigation Buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- Pagination -->
  <div class="swiper-pagination"></div>
</div>

</div>


  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script>
    const swiper = new Swiper('.mySwiper', {
      slidesPerView: 1,
      spaceBetween: 10,
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  </script>
  <div class="ui segment info">
    <h2> 1ο χλμ Π.Ε.Ο Στυλιδας-Λαμιας</h2>
    <h2>Τηλεφωνα επικοινωνιας</h2>
<h2>22380  22262</h2>
<h2>22380 22177</h2>
<h2>email: karkon99@otenet.gr</h2>
  </div>
</div>

{{> footer}}