

<section class="ui center aligned middle aligned segment">
    <h1 class="ui huge header index">CAVA STYLIDAS</h1>
    <h2 class="ui header index">αναψυκτικά και ποτά</h2>
</section>


<div id="index_layout">

    {{> menu }}
{{> image_carouselle}}
</div>

{{> footer}}